/* Menu Language */
#language-switcher select {
    width: auto;
    background-color: transparent;
    font-size: 28px;
    border: 0px solid;

    /*remove arrow*/
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';

    /*remove focus border*/
    outline: none;
}
